*
{
        margin: 0;
        padding: 0
}

header
{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Website_BG2.jpg);
        height: 498px;
        width: 922px;
        max-height: cover;
        max-width: cover;
        background-size: cover;
        background-position: center;
}

.logo img
{
    width: 225px;
    height: auto;
    float: right;
}

.h1
{
    font-family: "Roboto", Agency FB;    
}

h1, h2, h3
{
 color: whitesmoke;
}